.card {
  margin-bottom: 80px;
  margin-right: 15px;
}

.cover {
  height: 240px;
  width: 348px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}

.tag {
  position: absolute;
  bottom: 0;
  height: 32px;
  border-radius: 4px;
  padding: 4px 16px;
  margin: 8px;
}

.image {
  height: 240px;
  width: 348px;
  object-fit: cover;
  max-width: none;
  position: relative;
}

.title {
  height: 50px;
  width: 348px;
  color: #0e1527;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
  margin-bottom: 14px;
}

.text {
  height: 78px;
  width: 349px;
  color: #0e1527;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 16px;
}

.button {
  height: 25px;
}

.button svg {
  width: 15px;
  margin-left: 20px;
}
