.wrapper {
  margin-top: 62px;
  margin-bottom: 40px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  width: 75%;
}

.content {
  width: 75%;
  margin-top: 20px;
}

.content h2 {
  font-size: 48px;
  font-weight: 700;
}
.content h3 {
  font-size: 36px;
  font-weight: 700;
}
.content h4 {
  font-size: 21px;
  font-weight: 700;
}

.content h5 {
  font-size: 18px;
  font-weight: 700;
}

.content ul {
  list-style-type: disc;
  padding: 0 20px;
}
