.tag {
  height: 32px;
  width: 101px;
  border: 2px solid #efeff8;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  padding: 4px 16px;
}

.title {
  margin: 32px 0 16px 0;
}

.wrapper {
  height: 152px;
}

.input {
  height: 48px;
}
.input::placeholder {
  padding: 1em;
}
.submit {
  height: 48px;
  width: 112px;
  border: 2px solid #371172;
  border-radius: 3px;
}

.title {
  padding: 32px 0 16px 0;
}
